html,
body {
	margin: 0;
	padding: 0;

	h1 {
		padding: 20px;
		margin: 0;
	}
}

body.gray {
	background-color: rgb(200, 200, 200);
}

#signup-form {
	margin-left: 20px;

	input {
		background-color: transparent;

		&[type='password'],
		&[type='text'] {
			width: 400px;
		}
	}
}

#signup-error-modal {
	box-sizing: border-box;
	width: 400px;
	height: 150px;
	padding: 16px 20px;
	border-radius: 20px;
	box-shadow: 0px 5px 10px rgb(231, 231, 231);
	position: absolute;
	z-index: -1;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	opacity: 0;

	&.show {
		z-index: 1;
		opacity: 1;
		transition: opacity 0.3s;
	}

	&:hover {
		box-shadow: 0px 5px 15px rgb(231, 231, 231);
	}

	.modal-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;

		.modal-title {
			font-size: 32px;
			font-weight: bold;
		}

		.close-button {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 32px;
			height: 32px;
			font-size: 20px;
			border: none;
			background-color: transparent;
			cursor: pointer;
			color: rgb(255, 168, 168);
			padding: 4px;

			&:hover {
				background-color: rgb(255, 208, 208);
				border-radius: 100%;
			}
		}
	}
}