{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load sass_tags %}
  <link rel="stylesheet" type="text/css" href="{% sass_src 'accounts/scss/signup.scss' %}" />
  <title>Sign up | Snulion</title>
</head>

<body>
  <h1> Sign Up! </h1>
  <form id="signup-form" method="POST" action="{%url 'signup' %}">
    {% csrf_token %}
    사용자 이름:
    <br>
    <input name="username" type="text" value="" placeholder="사용자 이름을 입력해주세요">
    <br>
    <br>
    재학중인 학교:
    <br>
    <input name="college" type="text" value="">
    <br>
    <br>
    전공:
    <br>
    <input name="major" type="text" value="">
    <br>
    <br>
    비밀번호:
    <br>
    <input name="password1" type="password" value="" placeholder="3자 이상의 알파벳 대소문자 or 숫자를 입력해주세요">
    <br>
    <br>
    비밀번호 확인:
    <br>
    <input name="password2" type="password" value="" placeholder="3자 이상의 알파벳 대소문자 or 숫자를 입력해주세요">
    <br>
    <br>
    <input type="submit" value="Sign Up!">
  </form>
  <div id="signup-error-modal">
    <div class="modal-header">
      <div class="modal-title">입력 오류</div>
      <button class="close-button">✖</button>
    </div>
    <div class="modal-content">
      비밀번호를 확인해주세요
    </div>
  </div>
  <script src="{% static 'accounts/js/signup.js' %}"></script>

</body>

</html>