{% extends 'blogPosts/../base.html' %}

{% block content %}
<div>
  <a href="{% url 'blogPosts:index' %}">home</a>
  <h1>{{tag.content}}</h1>
  <form action="{% url 'tags:update' id=tag.id %}" method="POST">
    {% csrf_token %}
    <input type="text" name="content" value='{{tag.content}}'/>
    <button type="submit">태그 수정</button>
  </form>
  <form action="{% url 'tags:delete' id=tag.id %}" method="POST">
    {% csrf_token %}
    <button>태그 삭제</button>
  </form>
<div>
<h3>게시글 목록</h3>
<div>
  {% for post in posts %}
    <a href="{% url 'blogPosts:show' id=post.id %}">{{post.title}}</a> </br>
  {% endfor %}
</div>
{% endblock content %}