{% extends 'base.html' %}
{% load sass_tags %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'blogPosts/scss/index.scss' %}">
{% endblock style %}
{% block content %}
  <div>
    태그
    {% for tag in tags %}
      <a href="{% url 'tags:read' id=tag.id %}">{{ tag.content }}</a>
    {% endfor %}
  </div>
  {% if user.is_authenticated %}    
    <form action="{% url 'tags:create' %}" method="POST">        
      {% csrf_token %}
      <input type="text" name="content"/>
      <button type="submit">태그 추가</button>
    </form>
  {% endif %}
<h1 class="post-main-title">
  POSTS
  {% if user.is_authenticated %}
  <a href="{% url 'blogPosts:new' %}"
    class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored new-post-button">
    <i class="material-icons">add</i>
  </a>
  {% endif %}
</h1>
  {% for college in colleges %}
    <div>{{ forloop.counter }}. {{ college.college }}: {{ college.count }} 명</div>
  {% endfor %}
  <br/>
  {% if user.is_authenticated %}
    <div>
      같은 학교 User: 
      {% if users_with_same_college %}
        {% for user in users_with_same_college %} {{user.get_username}} {% endfor %}
      {% else %}
        같은 학교 사람이 없습니다.
      {% endif %}
    </div>
    <div>
      같은 전공 User: 
      {% if users_with_same_major %}
        {% for user in users_with_same_major%} {{user.get_username}} {% endfor %}
      {% else %}
        같은 전공 사람이 없습니다.
      {% endif %}
    </div>
  {% endif %}
  <br/>
  <div class="post-container">
  {% for post in posts %}
  <div class="demo-card-square mdl-card mdl-shadow--2dp">
      <div class="post-header">
        <div class="author-container">
              {% if post.author == request.user %}
              <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                <i class="material-icons">mood</i>
              </button>
              {% else %}
              <button class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">mood</i>
              </button>
              {% endif %}
            <span>{{post.author}}</span>
        </div>
        <div class="like-container">
              {% if user.is_authenticated %}
              <a href="{% url 'blogPosts:like' id=post.id %}" class="material-icons mdl-badge mdl-badge--overlap" data-badge="{{ post.like_users.count }}">
                favorite_border
              </a>
              {% else %}
              <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="{{ post.like_users.count }}">
                favorite_border
              </div>
              {% endif %}
        </div>
      </div>
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"><a href="{% url 'blogPosts:show' post.id %}">
        {{ post.title }}
      </a></h2>
    </div>
    <div class="mdl-card__supporting-text">
      {{ post.content }}
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a href="{% url 'blogPosts:show' post.id %}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        show details
      </a>
    </div>
  </div>
  {% endfor %}
  </div>
{% endblock content %}
