{% extends 'base.html' %}

{% block content %}
  <div>
    태그
    {% for tag in tags %}
      <a href="{% url 'tags:read' id=tag.id %}">{{ tag.content }}</a>
    {% endfor %}
  </div>
  {% if user.is_authenticated %}    
    <form action="{% url 'tags:create' %}" method="POST">        
      {% csrf_token %}
      <input type="text" name="content"/>
      <button type="submit">태그 추가</button>
    </form>
  {% endif %}
  <h1>POSTS</h1>
  {% for college in colleges %}
    <div>{{ forloop.counter }}. {{ college.college }}: {{ college.count }} 명</div>
  {% endfor %}
  <br/>
  {% if user.is_authenticated %}
    <div>
      같은 학교 User: 
      {% if users_with_same_college %}
        {% for user in users_with_same_college %} {{user.get_username}} {% endfor %}
      {% else %}
        같은 학교 사람이 없습니다.
      {% endif %}
    </div>
    <div>
      같은 전공 User: 
      {% if users_with_same_major %}
        {% for user in users_with_same_major%} {{user.get_username}} {% endfor %}
      {% else %}
        같은 전공 사람이 없습니다.
      {% endif %}
    </div>
  {% endif %}
  <br/>
  {% if user.is_authenticated %} 
    <a href="{% url 'blogPosts:new' %}">new posts</a>
  {% endif %}
  {% for post in posts %}
    <div style="border: 1px solid grey;">
      <a href="{% url 'blogPosts:show' id=post.id %}">
        <h3>{{ post.title }}</h3>
      </a>
      {% if user.is_authenticated %}
        <a href="{% url 'blogPosts:like' id=post.id %}">
          {{ post.like_users.count }} Likes
        </a>
      {% endif %}
    </div>
  {% endfor %}
{% endblock content %}
