{% extends 'base.html' %}

{% block content %}
  <div>
    <a href="{% url 'blogPosts:index' %}">home</a>
    <h1>{{ post.title }}</h1>
    <p>작성자: {{ post.author }}</p>
    <p>작성일: {{ post.created_at }}</p>
    <p style="width: 70%;">{{ post.content }}</p>
    {% if request.user == post.author %}   
      <a href="{% url 'blogPosts:update' id=post.id %}">수정</a>
      <a href="{% url 'blogPosts:delete' id=post.id %}">삭제</a>
    {% endif %}
    <div> 
      태그:
      {% for tag in tags %}
        <a href="{% url 'tags:read' id=tag.id %}">{{ tag.content }}</a>
      {% endfor %}
    </div>
    {% if user.is_authenticated %}
    <a href="{% url 'blogPosts:like' id=post.id %}">
      {{ post.like_users.count }} Likes
    </a>
    {% endif %}
    <p><strong>댓글이 {{ post.comment_set.count }}개 있습니다 </strong><p>
		<form action="{% url 'blogPosts:comment_create' id=post.id %}" method="POST">
      {% csrf_token %}
      <input type="text" name="content" />
      <button type="submit">댓글 달기</button>
    </form>
    {% for comment in post.comment_set.all|dictsortreversed:"like_users.count" %}
      <p>
        {{ comment.author }}: {{ comment.content }} &nbsp; &nbsp;{{ comment.created_at }}
        {% if user.is_authenticated %}
        <a href="{% url 'blogPosts:commentlike' cid=comment.id %}">
          {{ comment.like_users.count }} Likes
        </a>
        {% endif %}
        <a href="{% url 'blogPosts:comment_delete' id=post.id cid=comment.id %}">댓글 삭제</a>
      </p>
    {% endfor %}
  </div>
{% endblock content %}
